.THIS {
    background-color: gray;

}
.THIS.yellow{
    background-color: yellow;
}
.THIS .red{
    background-color: red;
}
.THIS .blue{
    background-color: blue;
}
.THIS .green{
    background-color: green;
}
.THIS .pink{
    background-color: pink;

}